<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>addPlayer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="ion-margin">
    <form #f="ngForm">
      <ion-label> Nom </ion-label>
      <ion-input ngModel required name="nom" type="text" label-placement="floating" fill="solid" ></ion-input>

      <ion-label> Position </ion-label>
      <ion-input ngModel name="position" type="text" label-placement="floating" fill="solid"></ion-input>

      <ion-label> Image </ion-label>
      <ion-input ngModel name="image" type="file" label-placement="floating" fill="solid" (change)="onFileSelected($event)"></ion-input>
     
      <ion-button
        [disabled]="f.invalid"
        (click)="onSubmit(f.value)"
        type="submit"
        expand="full"
        color="secondary"
        >Add</ion-button
      >

    </form>
  </div>
</ion-content>
